<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %} | IIITDWD</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'dictationTool/img/favicon.png' %}" rel="icon">
  <link href="{% static 'dictationTool/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'dictationTool/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'dictationTool/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dictationTool/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'dictationTool/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'dictationTool/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'dictationTool/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'dictationTool/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'dictationTool/css/style.css' %}" rel="stylesheet">


</head>

<body>
  {% block header %}
  {% endblock %}
  {% block section %}
  {% endblock %}
  {% block main %}
  {% endblock %}
  {% block extra %}
  {% endblock %}


  <!-- Vendor JS Files -->
  <script src="{% static 'dictationTool/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'dictationTool/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dictationTool/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'dictationTool/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'dictationTool/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'dictationTool/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'dictationTool/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'dictationTool/js/main.js' %}"></script>

</body>

</html>